
.login-page{

    min-height: 100vh;
    display: flex;
  }
  
  
  .login-container{
    padding-left: 8%;
    padding-right: 8%;
    background-color: white;
    align-content: center;
    width: 35%;
    
  }
  
  .login-input{
    width: 50%;
  }
  
  .login-form{
    width: 80%;
  }
